<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>返信コメント編集</title>
</head>
<body>
<div clas="header-contents">
    <h2>返信コメントの編集</h2>
</div>
<div class="main-comments">
    <form th:action="@{/comment/update/{id}(id=${commentForm.id})}" th:object="${commentForm}" method="post">
        <div class="form-area">
            <input type="hidden" name="_method" value="put" />
            <label>編集内容</label><br />
            <textarea th:field="*{comment}" rows="5" cols="50" maxlength="200"></textarea><br />
            <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" style="color: red"></span><br>
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{postId}" />
            <input type="submit" value="更新" />
        </div>
    </form>
</div>
<div class="footer-contents">
    <form action="/" method="get" style="margin-top:10px;">
        <input type="submit" value="戻る" />
    </form>
</div>
</body>
</html>